Source: ros-melodic-rqt-py-console
Section: misc
Priority: extra
Maintainer: Dorian Scholz <scholz@sim.tu-darmstadt.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/rqt_py_console
Standards-Version: 3.9.2

Package: ros-melodic-rqt-py-console
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-melodic-python-qt-binding (>= 0.2.19), ros-melodic-qt-gui, ros-melodic-qt-gui-py-common, ros-melodic-rospy, ros-melodic-rqt-gui, ros-melodic-rqt-gui-py
Description: rqt_py_console is a Python GUI plugin providing an interactive Python console.
